<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> chat </title>
</head>
</html>

<body>
    <div style="background-color: rgb(218, 213, 213); display: flex; margin: 5rem; height: 30rem; border-radius: 15px;" >
        <div style="border-right: 2px solid gray; width: 25%;">
            <input placeholder="search contact..." style="background-color: rgb(156, 156, 156); height: 30px;
            margin-top:15px; width:200px; padding: 10px; margin-left: 35px; border-radius: 10px; border: none;"></input>
        </div>
        <div style=" width: 75%; display: grid;">
            <input placeholder="search message..." style="background-color: rgb(156, 156, 156); height: 30px;
            margin-top:15px; width:400px; padding: 10px; margin-left: 100px; border-radius: 10px; border: none;"></input>
            <div>
            <input placeholder="write your messge here..."
             style="height: 40px; width:80%; margin-left: 25px; margin-top: 300px; padding: 10px; border-radius: 10px; border: none;"></input>
            <button class="btn btn-primary">send</button>
            </div>
        </div>
    </div>

</body>