* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.chatbox {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.header h2 {
	font-size: 24px;
	color: #333;
}

#search-input {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.contact-list {
	overflow-y: scroll;
	flex-grow: 1;
	margin-top: 10px;
}

ul {
	list-style-type: none;
}

li {
	margin: 10px 0;
	cursor: pointer;
}

.contact {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
	max-width: 60%;
}

.contact.selected {
	background-color: #0084ff;
	color: white;
}

.message-list {
	overflow-y: scroll;
	flex-grow: 1;
	margin-top: 10px;
}

.message-list::-webkit-scrollbar {
	width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
}

.message-list::-webkit-scrollbar-track {
	background-color: #f2f2f2;
}

.message {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
	max-width: 60%;
}

.message.sent {
	background-color: #0084ff;
	color: white;
	align-self: flex-end;
}

.message.sent:before {
	content: "\f058";
	font-family: FontAwesome;
	margin-right: 5px;
}

.message.received {
	background-color: #e5e5ea;
	align-self: flex-start;
}

.message.received:before {
	content: "\f007";
	font-family: FontAwesome;
	margin-right: 5px;
}

form {
	display: flex;
}

input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 16px;
}

button[type="submit"] {
	background-color: #0084ff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}
